<h1>What'cha need?</h1>
<div class="row">
  <div class="col-sm-12">
    <form action="/request" method="GET">
      <input type="text" placeholder="Movie name" name="q">
      <input type="submit" value="Search" class="btn btn-default">
    </form>
  </div>
</div>
<% if (searchQuery.q) { %>
  <script>
    var searchInput = document.querySelectorAll('[name="q"]');
    searchInput.value = "<%= searchQuery.q %>";
  </script>
<% } %>
