<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/navbar %>
  <div class="container">
    <h1>Updates</h1>
    <% for(var i=posts.length-1; i>=0; i--) { %>
      <div class="post-container top-buffer">
        <h2 class="post-title"><%= posts[i].title %></h2>
        <div class="post-author"><%=posts[i].author %></div>
        <div class="post-body"><%= posts[i].body %></div>
      </div>
    <% } %>
    <% include partials/register %>
    <% include partials/login %>
  </div>
<% include partials/js %>
</body>
</html>
