<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 blog-main">
        <h1>What'cha need?</h1>
        <form action="/request" method="POST">
          <input type="text" placeholder="Movie name" name="movie_name">
          <input type="text" placeholder="Imdb link" name="imdb_url">
          <button type="submit" class='btn btn-secondary'>Submit</button>
        </form>
      </div>
      <div class="offset-sm-1 col-sm-3 blog-sidebar">
        <div class="card card-body bg-light">
          <h2>Requests</h2>
          <ul class="movies">
            <% for(var i=0; i<movies.length; i++) { %>
              <li class="movie">
                <span><a href="<%= movies[i].imdb_url %>" target="_blank"><%= movies[i].movie_name %></a> -</span>
                <span><%= movies[i].status %></span>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% include partials/js %>
</body>
</html>
