
nav {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color:#1e1e1e;
}

nav .logo {
    font-size:2em;
    color: white;
    text-decoration: none;
}

.tab-list {
    display: flex;
    padding-left: 0;
    justify-content: center;
    list-style-type: none;
    align-items:center;
}

.tab-list li {
    padding: 0 10px;
    font-size: 1.3em;
    cursor: pointer;
    padding: 6px;
}

li.active {
    background-color: #17d0d5;
    border-radius: 3px;
}

.SearchForm {
    margin-left: 10px;
}

.SearchForm input {
    height:20px;
    font-size:1em;
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid;
    color: inherit;
}

.SearchForm-submit {
    font-size: 1em;
    color: inherit;
    background-color: inherit;
    border: none;
}