.Search {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
}

.Search-results {
    width:100%;
    max-width:1600px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 0 15px;
}
.Search-results h1 {
    display:flex;
    justify-content: left;
    flex: 0 0 100%;
}

.Result {
    margin-bottom: 10px;
    text-align:left;
    position:relative;
    margin-right:8px;
}

.Result:hover {
    transform: scale(1.02);
    transition: all 0.4s;
}

.Result-pending {
    color: yellow;
}

.Result-available {
    color: #4dd0e1;
}

.Result-season {
    background-color: #4dd0e1;
    color: #000000;
    display:inline-block;
    margin-right: 4px;
    border-radius: 20%;
    min-width:30px;
    text-align: center;
    margin-top: 10px;
}

.media-card {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
    border-radius: 10px;
    z-index:2;
    position:relative;
    padding: 20px;
}

.media-card-button {
    min-height: 23px;
}

.media-header img{
    float:left;
    padding-right: 10px;
}

.media-header {
    width: 100%;
    max-width: 300px;
}

.media-header h2 {
    margin: 0;
}

.media-desc {
    clear:both;
    padding-top:10px;
    width:100%;
    max-width:300px;
}

.media-desc p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blur-back {
    background-size:cover;
    position:absolute;
    top:0;
    right: 0;
    width:80%;
    height:100%;
    z-index:1;
    border-radius: 10px;
}

nav {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color:#1e1e1e;
}

nav .logo {
    font-size:2em;
    color: white;
    text-decoration: none;
}

.tab-list {
    display: flex;
    padding-left: 0;
    justify-content: center;
    list-style-type: none;
    align-items:center;
}

.tab-list li {
    padding: 0 10px;
    font-size: 1.3em;
    cursor: pointer;
    padding: 6px;
}

li.active {
    background-color: #17d0d5;
    border-radius: 3px;
}

.SearchForm {
    margin-left: 10px;
}

.SearchForm input {
    height:20px;
    font-size:1em;
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid;
    color: inherit;
}

.SearchForm-submit {
    font-size: 1em;
    color: inherit;
    background-color: inherit;
    border: none;
}