.Result {
    margin-bottom: 10px;
    text-align:left;
    position:relative;
    margin-right:8px;
}

.Result:hover {
    transform: scale(1.02);
    transition: all 0.4s;
}

.Result-pending {
    color: yellow;
}

.Result-available {
    color: #4dd0e1;
}

.Result-season {
    background-color: #4dd0e1;
    color: #000000;
    display:inline-block;
    margin-right: 4px;
    border-radius: 20%;
    min-width:30px;
    text-align: center;
    margin-top: 10px;
}

.Result-button {
    background-color:#17d0d5;
    border:none;
    outline:none;
    height:30px;
    border-radius:3px;
    letter-spacing: 1px;
    color:#555555;
    font-weight:500;
}

.media-card {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
    border-radius: 10px;
    z-index:2;
    position:relative;
    padding: 20px;
}

.media-card-button {
    min-height: 30px;
}

.media-header img{
    float:left;
    padding-right: 10px;
    height:150px;
    width:92px;
}

.media-header {
    width: 100%;
    max-width: 300px;
}

.media-header h2 {
    margin: 0;
}

.media-desc {
    clear:both;
    padding-top:10px;
    width:100%;
    max-width:300px;
}

.media-desc p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height:85px;
    min-width:300px;
}

.blur-back {
    background-size:cover;
    position:absolute;
    top:0;
    right: 0;
    width:80%;
    height:100%;
    z-index:1;
    border-radius: 10px;
}